body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 1vh 1rem;
  text-align: center;
  -webkit-print-color-adjust: exact; }

#header {
  text-align: right;
  width: 210mm !important; }

#content {
  position: relative;
  max-width: 1200px; }
  #content a {
    color: rgba(0, 0, 0, 0.7); }
    #content a:focus, #content a:hover {
      color: rgba(0, 0, 0, 0.6); }
  #content #explain {
    text-align: left;
    top: 100px;
    min-height: 100%;
    position: absolute;
    width: 240px;
    z-index: 500;
    right: 80px;
    background-color: rgba(255, 255, 255, 0.7); }
    #content #explain button {
      text-align: right; }
  #content #page {
    float: left;
    width: 210mm !important;
    height: 297mm !important; }
    #content #page h1 {
      font-size: 7mm;
      margin: 0 auto 0.25em; }
    #content #page #date {
      font-size: 4mm;
      font-weight: bold;
      padding: 0.25em 0;
      display: none; }
    #content #page #map {
      width: 100%;
      height: 600px; }
    #content #page #list {
      text-align: left;
      width: 100%; }
      #content #page #list table {
        width: 100%;
        border-spacing: 0; }
        #content #page #list table th.category {
          position: relative;
          height: 44px;
          vertical-align: bottom;
          padding-left: 32px; }
        #content #page #list table td {
          border-collapse: collapse;
          border: 1px solid #333;
          padding: 2px; }
        #content #page #list table td.id {
          width: 5%; }
        #content #page #list table td.value {
          width: 45%; }
  @media print {
    #content #page #date {
      display: block; }
    #content .not_print_area {
      display: none; } }
